<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/search_view.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="icon" href="/icons/favicon.ico">
    <title>Ремонт бытовой техники в Твери</title>
</head>
<body>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(98485538, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/98485538" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<div class="margin">
    <div class="header-bar">
        <div class="header-text">
            <span class="ubuntu-medium javakov">Ремонт бытовой техники</span>
            <span class="ubuntu-regular keystore">Тверь📌</span>
        </div>
        <a href="https://www.rustore.ru/catalog/app/org.javakov.washapp" target="_blank">
            <img src="https://firebasestorage.googleapis.com/v0/b/wash-app-web.appspot.com/o/rustore_blue.png?alt=media&token=c53dbbdb-8c9e-424d-84df-df52305d9cca"
                 class="playstore-image" alt="Доступно в RuStore">
        </a>
    </div>
</div>

<div class="cards-container">
    <div class="container">
        <div class="card">
            <div class="card__title ubuntu-medium">
                <span>Мастер Александр</span>
            </div>
            <img src="https://firebasestorage.googleapis.com/v0/b/wash-app-web.appspot.com/o/master.png?alt=media&token=f1c03eb1-c820-42a5-a03b-b7f7a77a15d4"
                 class="card__image" alt="">
            <div class="card__price ubuntu-regular">
                <span>10-летний опыт</span>
            </div>
        </div>
        <div class="card">
            <div class="card__title ubuntu-medium">
                <span>Стиральная машина</span>
            </div>
            <img src="https://firebasestorage.googleapis.com/v0/b/wash-app-web.appspot.com/o/washcar.png?alt=media&token=9878620d-0871-4a05-893e-d42ae47299ff"
                 class="card__image" alt="">
            <div class="card__price ubuntu-regular">
                <span>от 500₽</span>
            </div>
        </div>
        <div class="card">
            <div class="card__title ubuntu-medium">
                <span>Водонагреватель</span>
            </div>
            <img src="https://firebasestorage.googleapis.com/v0/b/wash-app-web.appspot.com/o/waterhot.png?alt=media&token=c628e03e-ef4d-4553-a27c-eefe1fab85ee"
                 class="card__image" alt="">
            <div class="card__price ubuntu-regular">
                <span>от 500₽</span>
            </div>
        </div>
        <div class="card">
            <div class="card__title ubuntu-medium">
                <span>Посудомоечная машина</span>
            </div>
            <img src="https://firebasestorage.googleapis.com/v0/b/wash-app-web.appspot.com/o/dishwasher.png?alt=media&token=e798c1c3-f610-4240-87e4-ed800a554a15"
                 class="card__image" alt="">
            <div class="card__price ubuntu-regular">
                <span>от 500₽</span>
            </div>
        </div>
    </div>
</div>

<div class="popup-container" style="display: none;">
    <div class="popup">
        <p id="popup-text" class="ubuntu-regular"></p>
        <div class="button-container">
            <a href="#" class="phone-button link ubuntu-medium" onclick="copyToClipboard('+79997893187');">Звоните: +7 (999) 789-31-87</a>
            <a href="https://wa.me/79997893187" class="wa-button link ubuntu-medium" target="_blank">WhatsApp</a>
            <a href="https://t.me/Mosal63" class="tg-button link ubuntu-medium" target="_blank">Telegram</a>
            <button id="popup-close" class="close-popup ubuntu-medium">Выбрать другую технику</button>
        </div>
    </div>
</div>

<div class="footer-container">
    <a class="margin link" href="https://javakov.github.io/me/" target="_blank">
        <div class="footer ubuntu-regular">C 9:00 до 21:00 без выходных<br>Москвичёв А. Г.<br>ИНН: 690300172212<br>+7(999)789-31-87<br>© 2024</div>
    </a>
</div>

<script>
    function copyToClipboard(text) {
        const textarea = document.createElement('textarea');
        textarea.value = text;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        document.body.removeChild(textarea);
        alert('Номер скопирован: ' + text);
    }
</script>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const searchQuery = urlParams.get('name');

    if (searchQuery) {
        document.getElementById('searchInput').value = searchQuery;
    }
</script>

<script>
    const cards = document.querySelectorAll('.card');
    const popupContainer = document.querySelector('.popup-container');
    const popupText = document.querySelector('#popup-text');
    const closeButton = document.querySelector('.close-popup');

    document.addEventListener('click', (event) => {
        if (!event.target.closest('.popup') && !event.target.closest('.card')) {
            popupContainer.style.display = 'none';
        }
    });

    cards.forEach((card) => {
        card.addEventListener('click', () => {
            const gameName = card.querySelector('.card__title span').textContent;
            const gamePrice = card.querySelector('.card__price span').textContent;

            if (gameName === 'Мастер Александр') {
                closeButton.textContent = 'Выбрать технику';
                popupText.innerHTML = 'Высококвалифицированный мастер Александр\nс 10-летним опытом работы в сфере ремонта бытовой техники\nв Твери и пригороде.\nИмею обширные знания и навыки в диагностике и устранении неисправностей\nразличных марок и моделей бытовых приборов.'
                popupText.style.lineHeight = '1.5';
                popupContainer.style.display = 'flex';
            } else {
                closeButton.textContent = 'Выбрать другую технику';
                popupText.innerHTML = `Вы выбрали <span class="highlight">${gameName}</span>.\nПрофессиональный ремонт любых моделей.\nКонсультация — <span class="highlight">бесплатно</span>.\nДиагностика <span class="highlight">от 500₽</span>.\nРемонт <span class="highlight">${gamePrice}</span>.`;
                popupText.style.lineHeight = '1.5';
                popupContainer.style.display = 'flex';
            }
        });
    });

    document.querySelector('.close-popup').addEventListener('click', () => {
        popupContainer.style.display = 'none';
    });
</script>
</body>
</html>